<div class="airmore-header">
  <div class="airmore-header__title">{{title}}</div>
  <ul class="airmore-header__viewmodes" *ngIf="appService.currentModule === 'cloud' && cloudStateService.activeFunction !== 'pictures'">
    <li class="airmore-header__viewmode-list" [class.active]="appService.activeViewMode==='list'" (click)="setActiveViewMode('list')"></li>
    <li class="airmore-header__viewmode-grid" [class.active]="appService.activeViewMode==='grid'" (click)="setActiveViewMode('grid')"></li>
  </ul>
</div>