<div class="airmore-device-sidebar">
  <div class="airmore-device-sidebar__pictures" *ngIf="appStateService.activeFunction === 'pictures'">
    <div *ngFor="let item of itemList" class="airmore-device-sidebar__item">
      <div class="airmore-device-sidebar__item-icon">
        <img [src]="getAddress(item.CoverPath)" *ngIf="item.CoverPath" />
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__musics" *ngIf="appStateService.activeFunction === 'musics'">
    musics sidebar
  </div>
  <div class="airmore-device-sidebar__videos" *ngIf="appStateService.activeFunction === 'videos'">
    videos sidebar
  </div>
  <div class="airmore-device-sidebar__contacts" *ngIf="appStateService.activeFunction === 'contacts'">
    contacts sidebar
  </div>
  <div class="airmore-device-sidebar__messages" *ngIf="appStateService.activeFunction === 'messages'">
    messages sidebar
  </div>
  <div class="airmore-device-sidebar__apps" *ngIf="appStateService.activeFunction === 'apps'">
    apps sidebar
  </div>
  <div class="airmore-device-sidebar__documents" *ngIf="appStateService.activeFunction === 'documents'">
    documents sidebar
  </div>
  <div class="airmore-device-sidebar__contacts" *ngIf="appStateService.activeFunction === 'contacts'">
    contacts sidebar
  </div>
  <div class="airmore-device-sidebar__files" *ngIf="appStateService.activeFunction === 'files'">
    files sidebar
  </div>
</div>
