@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(device-sidebar) {
    width: 230px;
    @include e(item) {
        height: 68px;
        padding: 8px 0 0 0;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        @include e(item-icon) {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            margin-right: 12px;
            background-color: $primary;
            background-position: center;
            background-repeat: no-repeat;
            img {
                width: 50px;
                height: 50px;
            }

            @include when(music) {
                background-image: url('../../../../assets/img/fun/white/musics-white.svg');
            }

            @include when(app) {
                background-image: url('../../../../assets/img/fun/white/apps-white.svg');
            }
        }

        @include e(item-info) {
            margin-left: 62px;
            height: 100%;
            padding-top: 6px;
            border-bottom: 1px solid $gray-400;
            @include e(item-title) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            @include e(item-count) {

            }
        }
        @include when(active) {
            @include e(item-title) {
                font-weight: 700;
                padding-right: 20px;
            }

            @include e(item-info) {
                border-bottom-color: $primary;
                // background: url('../../../../assets/img/album/arrow-active.svg') 95% center no-repeat;
            }
        }
    }
    
}