<div class="airmore-device-sidebar" [class.is-clipboard]="appStateService.activeFunction === 'clipboard'">
  <div class="airmore-device-sidebar__pictures" *ngIf="appStateService.activeFunction === 'pictures'">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon">
        <img [src]="getThumbPath(item.CoverPath)" *ngIf="item.CoverPath" />
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__musics" *ngIf="appStateService.activeFunction === 'musics'">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon is-music">
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__videos" *ngIf="appStateService.activeFunction === 'videos'">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon">
        <img [src]="getThumbPath(item.CoverPath)" *ngIf="item.CoverPath" />
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__contacts" *ngIf="appStateService.activeFunction === 'contacts'">
    contacts sidebar
  </div>
  <div class="airmore-device-sidebar__messages" *ngIf="appStateService.activeFunction === 'messages'">
    messages sidebar
  </div>
  <div class="airmore-device-sidebar__apps" *ngIf="appStateService.activeFunction === 'apps'">
    <div class="airmore-device-sidebar__item active" (click)="selectAlbum(item)">
      <div class="airmore-device-sidebar__item-icon is-app">
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">Apps</p>
        <p class="airmore-device-sidebar__item-count" *ngIf="deviceStateService.itemList">{{deviceStateService.itemList.length}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__documents" *ngIf="appStateService.activeFunction === 'documents'">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div 
      class="airmore-device-sidebar__item-icon"
      [class.is-doc]="item.AlbumID === 'doc'"
      [class.is-ppt]="item.AlbumID === 'ppt'"
      [class.is-xls]="item.AlbumID === 'xls'"
      [class.is-txt]="item.AlbumID === 'txt'"
      [class.is-epub]="item.AlbumID === 'epub'"
      [class.is-pdf]="item.AlbumID === 'pdf'"
      [class.is-zip]="item.AlbumID === 'zip'"
      >
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <div class="airmore-device-sidebar__contacts" *ngIf="appStateService.activeFunction === 'contacts'">
    contacts sidebar
  </div>
  <div class="airmore-device-sidebar__files" *ngIf="appStateService.activeFunction === 'files'">
    files sidebar
  </div>
  <div class="airmore-device-sidebar__clipboard" *ngIf="appStateService.activeFunction === 'clipboard'">
      <div class="airmore-device-sidebar__clipboard-item" *ngFor="let item of deviceStateService.itemList">
        <div class="checkBox"></div>
        <div class="container">
          <p class="date">{{item.Time | date}}</p>
          <p class="content">{{item.Content}}</p>
        </div>
        <div class="copy-button"></div>
      </div>
  </div>
</div>
