@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

$exts: doc, xls, ppt, epub, pdf, txt, zip;

@include b(device-sidebar) {
    width: 230px;
    height: 100%;
    overflow: auto;

    @include when(clipboard) {
        width: calc(33.3333% + 160px);
    }

    @include e(item) {
        height: 68px;
        padding: 8px 0 0 0;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        @include e(item-icon) {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            margin-right: 12px;
            background-color: $primary;
            background-position: center;
            background-repeat: no-repeat;
            img {
                width: 50px;
                height: 50px;
            }

            @include when(music) {
                background-image: url('../../../../assets/img/fun/white/musics-white.svg');
            }

            @include when(app) {
                background-image: url('../../../../assets/img/fun/white/apps-white.svg');
            }

            @each $ext in $exts {
                @include when($ext) {
                    background-size: contain;
                    background-image: url('../../../../assets/img/doc/#{$ext}.svg');
                }
            }
        }

        @include e(item-info) {
            margin-left: 62px;
            height: 100%;
            padding-top: 6px;
            border-bottom: 1px solid $gray-400;
            @include e(item-title) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }
            @include e(item-count) {
                margin-bottom: 0;
            }
        }
        @include when(active) {
            @include e(item-title) {
                font-weight: 700;
                padding-right: 20px;
            }

            @include e(item-info) {
                border-bottom-color: $primary;
                // background: url('../../../../assets/img/album/arrow-active.svg') 95% center no-repeat;
            }
        }
    }
    
    @include e(clipboard) {
        float: left;
        width: 100%;
        height: 100%;
        border-right: 1px solid #ccc;
        overflow-y: auto;

        @include e(clipboard-item) {
            display: flex;
            height: 97px;
            padding-right: 20px;
            line-height: 37px;
            border-bottom: 1px solid #f0f0f0;
            cursor: pointer;
            .checkBox{
                max-width: 100%;
                min-width: 20px;
                height: 100%;
                overflow: hidden;
                background: url('../../../../assets/img/input/checkbox-bigger.svg') center no-repeat;
                background-size: contain;
                cursor: pointer;
            }
            .container{
                position: relative;
                height: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0 10px;
                color: #888;
                flex: 1;
                .date{
                    font-size: 12px;
                    margin-top: 12px;
                    line-height: 20px;
                }
                .content{
                    margin-top: 6px;
                    line-height: 20px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    white-space: normal;
                }
            }
            .copy-button{
                width: 30px;
                background:  url('../../../../assets/img/clipboard/copy.png') center no-repeat;
                cursor: pointer;
                &:hover{
                    background-image: url('../../../../assets/img/clipboard/copy-hover.png');
                }

            }

            @include when(active) {
                background: linear-gradient(#fee9ce,#ffe1ba);
                .checkBox {
                    background-image: url('../../../../assets/img/input/checkbox-bigger-checked.svg');
                }
            }
        }
    }
}