<div
  class="airmore-device-sidebar"
  [class.is-clipboard]="appStateService.activeFunction === 'clipboard'"
  [class.is-message]="appStateService.activeFunction === 'messages'"
  [class.is-files]="appStateService.activeFunction === 'files'"
  [class.is-loading]="appStateService.loading"
>
  <app-loading *ngIf="appStateService.loading"></app-loading>
  <!-- pictures start -->
  <div class="airmore-device-sidebar__pictures" *ngIf="appStateService.activeFunction === 'pictures' && !appStateService.loading">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon">
        <img [src]="getThumbPath(item.CoverPath)" *ngIf="item.CoverPath" />
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <!-- pictures end -->
  <!-- musics start -->
  <div class="airmore-device-sidebar__musics" *ngIf="appStateService.activeFunction === 'musics' && !appStateService.loading">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon is-music">
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <!-- musics end -->
  <!-- videos start -->
  <div class="airmore-device-sidebar__videos" *ngIf="appStateService.activeFunction === 'videos' && !appStateService.loading">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div class="airmore-device-sidebar__item-icon">
        <img [src]="getThumbPath(item.CoverPath)" *ngIf="item.CoverPath" />
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <!-- videos end -->
  <!-- contacts start -->
  <div class="airmore-device-sidebar__contacts" *ngIf="appStateService.activeFunction === 'contacts' && !appStateService.loading">
      <div class="toolbar">
          <p class="add-group" (click)="newContactGroup()">新建分组</p>
      </div>
      <div class="airmore-device-sidebar__container">
          <div
            class="airmore-device-sidebar__contacts-item"
            [class.is-active]="isActive(item)"
            *ngFor="let item of deviceStateService.sidebarItemList"
            (click)="setActive(item)"
          >
            <div class="group-avatar"></div>
            <div class="contact-info">
              <div class="name">{{ item['GroupName']}}</div>
              <div class="count">{{ item['contacts'] ? item['contacts'].length : '-'}}</div>
            </div>
          </div>
      </div>
  </div>
  <!-- contacts end -->
  <!-- messages start -->
  <div class="airmore-device-sidebar__messages" *ngIf="appStateService.activeFunction === 'messages' && !appStateService.loading">
    <div
      class="airmore-device-sidebar__messages-item"
      [class.is-active]="isActive(item)" 
      *ngFor="let item of deviceStateService.sidebarItemList"
      (click)="setActive(item)"
    >
      <div class="avatar"></div>
      <div class="info">
        <div class="name">{{ item.ShowName }}<span class="count">({{ item.Count }})</span></div>
        <div class="date">{{ removeSecondes(item.Date) }}</div>
        <div class="content">{{ item.Content }}</div>
      </div>
    </div>
  </div>
  <!-- messages end -->
  <!-- apps start -->
  <div class="airmore-device-sidebar__apps" *ngIf="appStateService.activeFunction === 'apps' && !appStateService.loading">
    <div class="airmore-device-sidebar__item is-active" (click)="selectAlbum(item)">
      <div class="airmore-device-sidebar__item-icon is-app">
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">Apps</p>
        <p class="airmore-device-sidebar__item-count" *ngIf="deviceStateService.itemList">{{deviceStateService.itemList.length}}</p>
      </div>
    </div>
  </div>
  <!-- apps end -->
  <!-- documents start -->
  <div class="airmore-device-sidebar__documents" *ngIf="appStateService.activeFunction === 'documents' && !appStateService.loading">
    <div *ngFor="let item of deviceStateService.sidebarItemList" class="airmore-device-sidebar__item" (click)="selectAlbum(item)" [class.is-active]="deviceStateService.activeAlbumId === item.AlbumID">
      <div 
      class="airmore-device-sidebar__item-icon"
      [class.is-doc]="item.AlbumID === 'doc'"
      [class.is-ppt]="item.AlbumID === 'ppt'"
      [class.is-xls]="item.AlbumID === 'xls'"
      [class.is-txt]="item.AlbumID === 'txt'"
      [class.is-epub]="item.AlbumID === 'epub'"
      [class.is-pdf]="item.AlbumID === 'pdf'"
      [class.is-zip]="item.AlbumID === 'zip'"
      >
      </div>
      <div class="airmore-device-sidebar__item-info">
        <p class="airmore-device-sidebar__item-title">{{item.AlbumName}}</p>
        <p class="airmore-device-sidebar__item-count">{{item.Count}}</p>
      </div>
    </div>
  </div>
  <!-- documents end -->
  <!-- files start -->
  <div class="airmore-device-sidebar__files" *ngIf="appStateService.activeFunction === 'files' && !appStateService.loading">
    <nz-tree
      *ngIf="!deviceStateService.loading"
      [nzData]="deviceStateService.rootNodes"
      [nzShowExpand]="false"
      [nzBlockNode]
      (nzDblClick)="openFolder($event)"
    >
      <ng-template #contextTemplate>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item (click)="selectDropdown()">Action 1</li>
          <li nz-menu-item (click)="selectDropdown()">Action 2</li>
        </ul>
      </ng-template>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" style="display: block;padding-left: 5px;" [class.is-selected]="activedNode?.key === node.key" (click)="selectNode(node)">
          <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, contextTemplate)">
            <span
              class="tree-icon"
              [class.is-active]="node.isExpanded"
              [class.is-empty]="node.touched && node.children.length === 0"
              (click)="openFolder(node, $event)"
              ></span>
            <span class="tree-folder">{{ node.origin.ShowName }}</span>
          </span>
        </span>
      </ng-template>
    </nz-tree>
  </div>
  <!-- files end -->
  <!-- clipboard start -->
  <div class="airmore-device-sidebar__clipboard" *ngIf="appStateService.activeFunction === 'clipboard' && !appStateService.loading">
      <div class="airmore-device-sidebar__clipboard-item" [class.is-active]="isActive(item)"  *ngFor="let item of deviceStateService.itemList" (click)="setActive(item)">
        <div class="checkBox" [class.selected]="isSelected(item)" (click)="checkItem(item)"></div>
        <div class="container">
          <p class="date">{{item.Time | date}}</p>
          <p class="content">{{item.Content}}</p>
        </div>
        <div class="copy-button" (click)="copyToClipboard(item, $event)"></div>
      </div>
  </div>
  <!-- clipboard end -->
</div>
