@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

$exts: doc, xls, ppt, epub, pdf, txt, zip;

@include b(device-sidebar) {
    width: 230px;
    height: 100%;
    overflow: auto;
    @include e(item) {
        height: 68px;
        padding: 8px 0 0 0;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        @include e(item-icon) {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            margin-right: 12px;
            background-color: $primary;
            background-position: center;
            background-repeat: no-repeat;
            img {
                width: 50px;
                height: 50px;
            }

            @include when(music) {
                background-image: url('../../../../assets/img/fun/white/musics-white.svg');
            }

            @include when(app) {
                background-image: url('../../../../assets/img/fun/white/apps-white.svg');
            }

            @each $ext in $exts {
                @include when($ext) {
                    background-size: contain;
                    background-image: url('../../../../assets/img/doc/#{$ext}.svg');
                }
            }
        }

        @include e(item-info) {
            margin-left: 62px;
            height: 100%;
            padding-top: 6px;
            border-bottom: 1px solid $gray-400;
            @include e(item-title) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            @include e(item-count) {

            }
        }
        @include when(active) {
            @include e(item-title) {
                font-weight: 700;
                padding-right: 20px;
            }

            @include e(item-info) {
                border-bottom-color: $primary;
                // background: url('../../../../assets/img/album/arrow-active.svg') 95% center no-repeat;
            }
        }
    }
    
    @include e(clipboard) {
        float: left;
        width: calc(33.3333% + 160px);
        height: 100%;
        border-right: 1px solid #ccc;
        overflow-y: auto;

        @include e(clipboard-item) {
            display: flex;
            height: 97px;
            padding-right: 20px;
            line-height: 37px;
            border-bottom: 1px solid #f0f0f0;
            cursor: pointer;
            .checkBox{
                height: 100%;
                max-width: 100%;
                overflow: hidden;
                cursor: pointer;
                background: url('../../../../assets/img/input/checkbox-bigger.svg');
            }
            .container{
                .date{}
                .content{}
            }
            .copy-button{

            }

            @include when(active) {
                background: linear-gradient(#fee9ce,#ffe1ba);
                .checkBox {
                    background-image: url('../../../../assets/img/input/checkbox-bigger-checked.svg');
                }
            }
        }
    }
}