<div class="airmore-connection">
  <ul class="airmore-connection__type">
    <li (click)="changeConnectionType('qrcode')"><span [class.active]="deviceService.activeConnectionType==='qrcode'">QR Code</span></li>
    <li (click)="changeConnectionType('radar')"><span [class.active]="deviceService.activeConnectionType==='radar'">Radar</span></li>
    <li (click)="changeConnectionType('account')"><span [class.active]="deviceService.activeConnectionType==='account'">Account</span></li>
  </ul>
  <ul class="airmore-connection__tabs" [ngSwitch]="deviceService.activeConnectionType">
    <li *ngSwitchCase="'qrcode'" class="qrcode">
      <div *ngIf="_qrCodeUrl && !_isLoadingQrCode && !_isTimeout">
        <img [src]="_qrCodeUrl" />
      </div>
      <div class="timeout" *ngIf="_isTimeout">
        <span (click)="getQrCode()">二维码已失效，请点击刷新</span>
      </div>
      <div *ngIf="_isLoadingQrCode && !_isTimeout" class="loading">
        <app-loading></app-loading>
      </div>
      <p>Scan QR code using AirMore</p>
    </li>
    <li *ngSwitchCase="'radar'" class="radar">
      <app-radar #radarElement></app-radar>
      <p>点击手机名称来连接</p>
    </li>
    <li *ngSwitchCase="'account'">
      <app-account></app-account>
    </li>
  </ul>
  <div class="airmore-connection__install-link">
    <span (click)="showInstallModal()">安装爱莫助手应用</span>
  </div>
</div>