@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(lazy-load-image) {
    width: 100%;
    height: 100%;
    background: $primary-light-3 url('../../../../assets/img/fun/white/pictures-white.svg') center no-repeat;
    background-size: contain;

    @include when(loaded) {
        background-image: none;
        background-color: transparent;
    }

    @include e(container) {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}