<div class="airmore-password-login-form">
  <form [formGroup]="passwordLoginForm" (ngSubmit)="onSubmit()">
    <!-- email input -->
    <div class="airmore-password-login-form__item" [ngClass]="{'is-error': email.invalid && (email.dirty || email.touched)}">
      <input [(ngModel)]="passwordLoginInfo.email" type="text" placeholder="Email" maxlength="50" formControlName="email" required />
      <span [@errorFadeIn]="email.invalid && (email.dirty || email.touched) ? 'show' : 'hide'" class="airmore-password-login-form__item-error">
        <span *ngIf="email.errors && email.errors.required">{{ errorMessages.email.required }}</span>
        <span *ngIf="email.errors && email.errors.email">{{ errorMessages.email.email }}</span>
      </span>
    </div>
    <div class="airmore-password-login-form__item" [ngClass]="{'is-error': password.invalid && (password.dirty || password.touched)}">
      <input [(ngModel)]="passwordLoginInfo.password" type="password" placeholder="Password" maxlength="20" minlength="6" formControlName="password" required />
      <span [@errorFadeIn]="password.invalid && (password.dirty || password.touched) ? 'show' : 'hide'"  class="airmore-password-login-form__item-error">
        <span *ngIf="password.errors && password.errors.required">{{ errorMessages.password.required }}</span>
        <span *ngIf="password.errors && password.errors.minLength">{{ errorMessages.password.minLength }}</span>
      </span>
    </div>
    <div class="airmore-password-login-form__item">
      <button class="airmore-password-login-form__submit-btn" type="submit" [disabled]="!passwordLoginForm.valid"><span *ngIf="loading" class="loading"></span>Login</button>
    </div>
    <div class="airmore-password-login-form__item airmore-password-login-form__links">
      <span (click)="appStateService.accountRoute='resetPassword'">Forget password?</span>
      <span (click)="appStateService.accountRoute='emailPasswordLess'">Password-less login</span>
    </div>
  </form>
</div>