@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(rename-modal) {
    .row{
        height: 30px;
        margin: 5px 0;
        p{
            line-height: 30px;
        }
    }
}