<div class="airmore-contact-detail" [class.is-edit]="isEdit && !deviceService.isAddingContact">
  <div class="airmore-contact-detail__top" *ngIf="!isEdit && !deviceService.isAddingContact">
    <div class="contact-portrait">
      <div class="contact-portrait-img">
            <img [src]="contact['Portrait']['Data'] | safeUrl" *ngIf="contact['Portrait'] && contact['Portrait']['Data']" />
      </div>
    </div>
    <div class="contact-toolbar">
      <span (click)="edit()">Edit</span>
    </div>
    <div class="contact-name">{{contact['Name']['DisplayName']}}</div>
  </div>
  <div class="airmore-contact-detail__bottom" *ngIf="!isEdit && !deviceService.isAddingContact">
    <div class="form-group">
        <div class="form-control">
          <div class="label">公司</div>
          <div class="input" *ngIf="contact['Organization'] && contact['Organization'].length > 0">
            <span>{{ contact['Organization'][0]['Company'] || ' &nbsp;' }}</span>
          </div>
        </div>
        <div class="form-control">
          <div class="label">职位</div>
          <div class="input" *ngIf="contact['Organization'] && contact['Organization'].length > 0">
              <span>{{ contact['Organization'][0]['Job'] || ' &nbsp;' }}</span>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-control" *ngFor="let phone of contact['Phone']">
          <div class="select">
              <span>{{ getPhoneType(phone['Type']) }}</span>
          </div>
          <div class="input">
              <span>{{ phone['Name'] || ' &nbsp;' }}</span>
              <div class="actions">
                  <span class="message" (click)="messageTo(phone['Name'])"></span>
                  <span class="call" (click)="callTo(phone['Name'])"></span>
              </div>
          </div>  
        </div>
    </div>

    <div class="form-group">
        <div class="form-control" *ngFor="let address of contact['Address']">
          <div class="select">
              <span>{{ getAddressType(address['Type']) }}</span>
          </div>
          <div class="input">
              <span>{{ address['Street'] || ' &nbsp;' }}</span>
          </div>  
        </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let im of contact['IM']">
        <div class="select">
            <span>{{ getImType(im['Type']) }}</span>
        </div>
        <div class="input">
            <span>{{ im['Name'] || ' &nbsp;' }}</span>
        </div>  
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let site of contact['Website']">
        <div class="select">
            <span>{{ getWebsiteType(site['Type']) }}</span>
        </div>
        <div class="input">
            <span>{{ site['Url'] || ' &nbsp;' }}</span>
        </div>  
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let event of contact['Event']">
        <div class="select">
            <span>{{ getEventType(event['Type']) }}</span>
        </div>
        <div class="input">
            <span>{{ event['StartDate'] | date }}</span>
        </div>  
      </div>
    </div>

    <div class="form-group">
        <div class="form-control" *ngFor="let note of contact['Note']">
          <div class="label">备忘</div>
          <div class="input" *ngIf="note['Content']">
            <span>{{ note['Content'] || ' &nbsp;' }}</span>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-control">
            <span class="btn delete" (click)="delete()">删除联系人</span>
        </div>
    </div>

    <div class="form-group">

    </div>

    <!-- display end  -->
  </div>


  <div class="airmore-contact-detail__top" *ngIf="isEdit && !deviceService.isAddingContact">
      <div class="contact-portrait">
        <div class="contact-portrait-img">
            <img [src]="editingContact['Portrait']['Data'] | safeUrl" *ngIf="editingContact['Portrait'] && editingContact['Portrait']['Data']" />
        </div>
        <div class="contact-portrait-toolbar">
          <div class="contact-portrait-update" (click) = "updatePortrait()"></div>
          <div class="contact-portrait-delete" (click) = "deletePortrait()"></div>
        </div>
      </div>
      <div class="contact-toolbar">
        <span (click)="cancel()">Cancel</span>
        <span class="primary" (click)="save()">Save</span>
      </div>
      <div class="contact-name">
        <input class="contact-input" [(ngModel)]="editingContact['Name']['DisplayName']" type="text" placeholder="名称" />
      </div>
  </div>
  <div class="airmore-contact-detail__bottom" *ngIf="isEdit && !deviceService.isAddingContact">
    <div class="form-group">
        <div class="form-control">
          <div class="label">公司</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Organization'][0]['Company']" type="text" placeholder="公司" />
          </div>
        </div>
        <div class="form-control">
          <div class="label">职位</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Organization'][0]['Job']" type="text" placeholder="职位" />
          </div>
        </div>
        <div class="form-control">
          <div class="label">分组</div>
          <div class="input">
            <app-dropdown-select [multiple]=true [options]="groups" [default]="editingContact.GroupSelect" (onChange)="onSelectGroupChange($event)"></app-dropdown-select>
          </div>
        </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let phone of editingContact['Phone']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="phone['Type']" [options]="phoneTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="phone['Name']" type="text" placeholder="手机" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Phone')">添加手机</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let address of editingContact['Address']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="address['Type']" [options]="addressTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="address['Street']" type="text" placeholder="地址" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Address')">添加地址</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let im of editingContact['IM']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="im['Type']" [options]="imTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="im['Name']" type="text" placeholder="即时通讯" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('IM')">添加即时通讯</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let site of editingContact['Website']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="site['Type']" [options]="websiteTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="site['Url']" type="text" placeholder="http://..." />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Website')">添加网站</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let event of editingContact['Event']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="event['Type']" [options]="eventTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="event['StartDate']" type="text" placeholder="yyyy-mm-dd" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Event')">添加日期</p>
      </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
          <div class="label">备忘</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Note'][0]['Content']" type="text" placeholder="备忘" />
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-control">
            <span class="btn delete" (click)="delete()">删除联系人</span>
        </div>
      </div>

  </div>

  <div class="airmore-contact-detail__top" *ngIf=" deviceService.isAddingContact">
      <div class="contact-portrait">
        <div class="contact-portrait-img">
            <img [src]="editingContact['Portrait']['Data']" *ngIf="editingContact['Portrait'] && editingContact['Portrait']['Data']" />
        </div>
        <div class="contact-portrait-toolbar">
          <div class="contact-portrait-update" (click) = "updatePortrait()"></div>
          <div class="contact-portrait-delete" (click) = "deletePortrait()"></div>
        </div>
      </div>
      <div class="contact-toolbar">
        <span (click)="cancel()">Cancel</span>
        <span class="primary" (click)="save()">Save</span>
      </div>
      <div class="contact-name">
        <input class="contact-input" [(ngModel)]="editingContact['Name']['DisplayName']" type="text" placeholder="名称" />
      </div>
  </div>
  <div class="airmore-contact-detail__bottom" *ngIf="deviceService.isAddingContact">
    <div class="form-group">
        <div class="form-control">
          <div class="label">公司</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Organization'][0]['Company']" type="text" placeholder="公司" />
          </div>
        </div>
        <div class="form-control">
          <div class="label">职位</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Organization'][0]['Job']" type="text" placeholder="职位" />
          </div>
        </div>
        <div class="form-control">
          <div class="label">分组</div>
          <div class="input">
            <app-dropdown-select [multiple]=true [options]="groups" [default]="editingContact.GroupSelect" (onChange)="onSelectGroupChange($event)"></app-dropdown-select>
          </div>
        </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let phone of editingContact['Phone']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="phone['Type']" [options]="phoneTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="phone['Name']" type="text" placeholder="手机" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Phone')">添加手机</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let address of editingContact['Address']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="address['Type']" [options]="addressTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="address['Street']" type="text" placeholder="地址" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Address')">添加地址</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let im of editingContact['IM']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="im['Type']" [options]="imTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="im['Name']" type="text" placeholder="即时通讯" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('IM')">添加即时通讯</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let site of editingContact['Website']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="site['Type']" [options]="websiteTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="site['Url']" type="text" placeholder="http://..." />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Website')">添加网站</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control" *ngFor="let event of editingContact['Event']">
        <div class="select">
            <app-dropdown-select [multiple]=false [showIcon]=false [default]="event['Type']" [options]="eventTypes"></app-dropdown-select>
        </div>
        <div class="input">
            <input class="contact-input" [(ngModel)]="event['StartDate']" type="text" placeholder="yyyy-mm-dd" />
        </div>  
      </div>
      <div class="contact-add">
        <p (click)="addItem('Event')">添加日期</p>
      </div>
    </div>
    
    <div class="form-group">
        <div class="form-control">
          <div class="label">备忘</div>
          <div class="input">
            <input class="contact-input" [(ngModel)]="editingContact['Note'][0]['Content']" type="text" placeholder="备忘" />
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-control">
            <span class="btn delete" (click)="delete()">删除联系人</span>
        </div>
      </div>

  </div>


</div>