@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(cloud-sidebar) {
    width: $cloud-sidebar-width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    @include e(menu) {
        $cloudFuns: clouds pictures musics videos documents others;
        @include e(menu-item) {
            list-style: none;
            padding-left: 66px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            background-position: 34px center;
            background-repeat: no-repeat;
            color: $gray-900;
            @each $fun in $cloudFuns{
                &.#{$fun}{
                    background-image: url('../../../../assets/img/cloud/gray/cloud-#{$fun}-gray.svg');
        
                    &:hover, &.active{
                        background-color: $primary;
                        color: $white;
                        background-image: url('../../../../assets/img/cloud/white/cloud-#{$fun}-white.svg');
                    }
                }
            }
        }
        .clouds {
            font-size: $font-size-base;
            padding-left: 55px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            background-position: 22px center;
        }
        
    }

    @include e(main-menu) {
        
    }
}