@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(cloud-sidebar) {
    width: $cloud-sidebar-width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    @include e(menu) {
        $cloudFuns: clouds pictures musics videos documents others;
        @include e(menu-item) {
            list-style: none;
            padding-left: 66px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            background-position: 34px center;
            background-repeat: no-repeat;
            color: $gray-900;
            @each $fun in $cloudFuns{
                &.#{$fun}{
                    background-image: url('../../../../assets/img/cloud/gray/cloud-#{$fun}-gray.svg');
        
                    &.active{
                        background-color: $primary;
                        color: $white;
                        background-image: url('../../../../assets/img/cloud/white/cloud-#{$fun}-white.svg');
                    }
                }
            }
        }
        .clouds {
            font-size: $font-size-base;
            padding-left: 55px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            background-position: 22px center;
        }
        
    }

    @include e(space-info) {
        position: absolute;
        bottom: 120px;
        width: 100%;
        font-size: 12px;
        p{
            margin: 5px 0 10px;
            span{
                cursor: pointer;
                color: $primary;
            }
        }
        .progress{
            width: 100%;
            height: 6px;
            border-radius: 3px;
            background-color: $primary;
            transition: width .5s ease;
        }
    }
}