<div class="airmore-cloud-sidebar">
  <ul class="airmore-cloud-sidebar__menu">
    <li
        class="airmore-cloud-sidebar__menu-item"
        *ngFor="let fun of functions"
        [ngClass]=fun
        [class.active]="activeFunction === fun"
        (click)="setCloudActiveFunction(fun)"
    >{{ functionNameMap[fun] }}</li>
  </ul>
  <div class="airmore-cloud-sidebar__space-info">
    <p>Used Storage: {{usedSpace}}G/{{totalSpace}}G</p>
    <div class="progress" [style.width]="progressWidth"></div>
    <p>Need more space? <span (click)="showInvitation()">Click to get</span></p>
  </div>
</div>