<div class="airmore-table-body">
  <table
    class="airmore-table-body__table"
    cellspacing="0"
    cellpadding="0"
    border="0"
  >
    <tbody>
      <tr
        *ngFor="let row of rows"
        (click)="handleRowClick(row)"
        (dblclick)="handleRowDoubleClick(row)"
        (mouseenter)="handleRowMouseEnter(row)"
        (mouseleave)="handleRowMouseLeave(row)"
      >
        <td
          *ngFor="let item of row"
          (mouseenter)="handleCellMouseEnter($event, item)"
          (mouseleave)="handleCellMouseLeave($event, item)"
          (click)="handleCellClick($event, item)"
          (dblclick)="handleCellDoubleClick($event, item)"
        >
        {{item.content}}
        </td>
      </tr>
    </tbody>
  </table>
</div>