<div class="airmore-help-modal">
  <article id="help">
    <section>
      <h4 trans="help_what">爱莫助手是什么?</h4>
      <p trans="help_what_ans_1">爱莫助手是一个移动设备应用，可以让您在移动设备和电脑间无线传输文件，无需客户端和数据线。</p>
    </section>
    <section>
      <h4 trans="help_how">怎样使用爱莫助手网页端?</h4>
      <p trans="help_how_ans_1">在应用宝或苹果应用商店下载爱莫助手应用。</p>
      <p trans="help_how_ans_2">开启网络，请确保您的移动设备和电脑在同一个网络下。</p>
      <p trans="help_how_ans_3">用爱莫助手应用扫描二维码。</p>
      <p trans="help_how_ans_4">在您移动设备上授权来建立连接。</p>
    </section>
    <section>
      <h4 trans="help_internet">爱莫助手需要连接网络吗?</h4>
      <p trans="help_internet_ans_1">是的，爱莫助手需要移动设备和电脑都连接网络。</p>
    </section>
    <section>
      <h4 trans="help_media">爱莫助手支持传输什么格式的媒体文件?</h4>
      <p trans="help_media_ans_1">爱莫助手支持安卓和 iOS 认可的媒体文件格式。</p>
    </section>
    <section>
      <h4 trans="help_fail">连接设备失败怎么办?</h4>
      <p trans="help_fail_ans_1">请检查您的网络，确保您的移动设备和电脑处在同一个网络环境中。</p>
      <p trans="help_fail_ans_2">重新加载爱莫助手网页端。</p>
      <p trans="help_fail_ans_3">解锁或者唤醒您的设备。</p>
    </section>
    <section>
      <h4 trans="other_conn_methods">其他链接方式</h4>
      <ul>
        <li>
          <header>IP连接:</header>
          <p trans="help_ip_conn">手机应用右上角下拉框内找到本地IP地址.<br>在浏览器内输入本地IP地址建立连接</p>
        </li>
        <li>
          <header>热点连接:</header>
          <p trans="help_hotspot_conn">通过手机建立热点，将电脑接入所创建的热点网络.<br>在浏览器上输入指定IP地址建立连接.</p>
        </li>
      </ul>
    </section>
    <section>
      <p>如果还有问题，您可以访问我们的 <a href="https://airmore.cn/category/help" target="_blank">帮助中心</a> 或者使用邮件联系我们：<a href="mailto:support@airmore.com">support@airmore.com</a>。</p>
    </section>
  </article>
</div>