@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(password-less-login-form) {
    padding-top: 13px;
    @include e(item) {
        width: 320px;
        margin: 0 auto 26px;
        position: relative;
        input{
            width: 100%;
            border: none;
            border-bottom: 1px solid $gray-400;
            display: block;
            height: 47px;
            &::-webkit-input-placeholder{
                color: $gray-300;
            }
        }

        @include when(error) {
            input{
                border-color: $danger;
            }
        }
    }
    
    @include e(item-error) {
        color: $danger;
        font-size: 12px;
        line-height: 1;
        padding-top: 4px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    @include e(submit-btn) {
        display: block;
        text-align: center;
        width: 320px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        margin: 20px auto;
        cursor: pointer;
        color: $white;
        background-color: $primary;
        &:hover{
            background-color: $primary-light-1;
        }
    }

    @include e(links) {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        span{
            cursor: pointer;
            color: $primary;
            font-size: $font-size-small;
            &:hover{
                color: $primary-light-1;
            }
        }
    }
}