<div class="airmore-table">
  <div class="airmore-table__header-wrapper" *ngIf="showHeader">
    <app-table-header (sorted)="onSorted($event)"></app-table-header>
  </div>
  <div class="airmore-table__body-wrapper">
    <app-table-body
      (rowDoubleClick)="onRowDoubleClick"
      (rowMouseEnter)="onRowMouseEnter"
      (rowMouseLeave)="onRowMouseLeave"
      (cellMouseEnter)="onCellMouseEnter"
      (cellMouseLeave)="onCellMouseLeave"
      (cellClick)="onCellClick"
      (cellDoubleClick)="onCellDoubleClick"
    ></app-table-body>
  </div>
</div>