@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(device-item-list) {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    @include when(uploading) {
        top: 46px;
    }

    @include e(container) {
        width: 100%;
        height: 100%;

    }
    @include e(container-clipboard) {
        display: flex;
        flex-direction: column;
        float: left;
        height: 100%;
        width: 100%;
        position: relative;
        .toolbar {
            display: flex;
            justify-content: flex-end;
            height: 45px;
            padding: 10px 1px 10px 20px;
            border-bottom: 1px solid #ebebeb;

            span{
                display: inline-block;
                height: 24px;
                line-height: 22px;
                border-radius: 12px;
                font-size: 12px;
                margin-left: 10px;
                border: 1px solid #aaa;
                padding: 0 10px;
                background: white;
                font-weight: 700;
                color: #888;
                &.primary {
                    background-color: $primary-light-4;
                    color: white;
                    border: none;
                    &.active{
                        cursor: pointer;
                        background-color: $primary;
                    }
                }
                &.cancel {
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 0 1px #bbb;
                        border-color: #bbb;
                    }
                }
            }
        }
        textarea{
            flex: 1;
            min-height: 0;
            height: 100%;
            overflow-y: auto;
            padding: 12px 0 12px 20px;
            border: none;
            resize: none;
            font-size: 14px;
        }
        p{
           padding: 12px 0 12px 20px
        }
    }

    @include e(td) {
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 38px;
        .name{
            display: inline-block;
            width: calc(100% - 120px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        @include e(td-operations) {
            float: right;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            display: none;
            >span{
               width: 40px;
               height: 100%;
               float: left;
               cursor: pointer;
               background-repeat: no-repeat;
               background-position: center;
               &.play{
                    background-image: url('../../../../assets/img/action/gray/play-gray.svg');
                    &:hover{
                        background-image: url('../../../../assets/img/action/blue/play-blue.svg');
                    }
               }
               &.delete{
                  background-image: url('../../../../assets/img/action/gray/delete-gray.svg');
                  &:hover{
                      background-image: url('../../../../assets/img/action/blue/delete-blue.svg');
                  }
               }
               &.export {
                  background-image: url('../../../../assets/img/action/gray/download-gray.svg');
                  &:hover {
                      background-image: url('../../../../assets/img/action/blue/download-blue.svg');
                  }
               }
            }
        }
        &:hover {
            @include e(td-operations) {
                display: block;
            }
        }
        span.icon {
            width: 18px;
            height: 100%;
            margin-right: 7px;
            display: inline-block;
            vertical-align: top;
            @include when(folder) {
                background: url('../../../../assets/img/common/tree/tree-folder.svg') center no-repeat;
            }
            @include when(file) {
                background: url('../../../../assets/img/common/tree/tree-file.svg') center no-repeat;
            }
        }
        span.file-icon{
            width: 20px;
            height: 100%;
            margin-right: 7px;
            display: inline-block;
            vertical-align: top;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../../../../assets/img/common/tree/tree-file.svg');
            @each $ext in $exts{
                &.#{$ext}{
                    background-image: url('../../../../assets/img/doc/#{$ext}.svg');
                }
            }
        }
    }

    @include e(container-message) {
        position: relative;
        height: 100%;
        .toolbar {
            height: 45px;
            margin: 0 0 0 20px;
            padding: 10px 0;
            border-bottom: 1px solid #ebebeb;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            .to{
                float: left;
                .label{
                    float: left;
                    line-height: 24px;
                    margin-right: 10px;
                }
                .contact{
                    float: left;
                    margin-right: 3px;
                    margin-bottom: 3px;
                    background: rgba(11,181,33,.3);
                    border-radius: 3px;
                    padding: 0 6px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 12px;
                    cursor: default;
                    border-radius: 12px;
                    i{
                        display: inline-block;
                        color: #fff;
                        font-weight: 700;
                        text-align: center;
                        line-height: 14px;
                        width: 14px;
                        height: 14px;
                        margin: 5px 0 5px 5px;
                        vertical-align: top;
                        background: rgba(11,181,33,.8);
                        border-radius: 3px;
                        cursor: pointer;
                        border-radius: 50%;
                    }
                }
                input{
                    width: 80px;
                    height: 24px;
                    line-height: 26px;
                    font-size: 12px;
                    border: none;
                    float: left;
                    margin-bottom: 3px;
                }
            }
            .add-contact{
                display: block;
                float: right;
                width: 30px;
                height: 24px;
                font-size: 16px;
                cursor: pointer;
                background: url('../../../../assets/img/action/gray/add-gray.svg') center center no-repeat;
                &:hover{
                    background-image: url('../../../../assets/img/action/blue/add-blue.svg');
                }
            }
            .btn{
                float: right;
                height: 24px;
                line-height: 22px;
                border-radius: 12px;
                font-size: 12px;
                margin-left: 10px;
                border: 1px solid #aaa;
                padding: 0 10px;
                background: #fff;
                font-weight: 700;
                color: #888;
                cursor: default;
                &:hover{
                    box-shadow: 0 0 0 1px #bbb;
                    border-color: #bbb;
                }
            }
        }
        .content {
            overflow-y: auto;
            margin-left: 20px;
            position: absolute;
            top: 45px;
            right: 0;
            bottom: 90px;
            left: 0;
            .message{
                margin-top: 20px;
                max-width: 61.8%;
                line-height: 20px;
                position: relative;
                margin-left: 3px;
                margin-right: 13px;
                clear: both;
                
                .date{
                    font-size: 12px;
                    color: #aaa;
                    float: left;
                }
                .copy-btn{
                    font-size: 12px;
                    color: #aaa;
                    cursor: pointer;
                    display: none;
                    float: right;
                }
                .text{
                    position: relative;
                    font-size: 12px;
                    padding: 10px 15px;
                    border-radius: 20px;
                    max-width: 100%;
                    word-break: break-word;
                    clear: both;
                    user-select: auto;
                    background: #ebebeb;
                }
                @include when(received) {
                    .text {
                        &::after{
                            content: '';
                            position: absolute;
                            left: -3px;
                            bottom: 0;
                            border-bottom: 10px solid #ebebeb;
                            border-left: 20px solid transparent;
                        }
                    }
                }
                @include when(from-me){
                    float: right;
                    .text{
                        background: #0bb521;
                        color: #fff;
                        margin-left: 30px;
                        float: right;
                        &::after{
                            content: '';
                            position: absolute;
                            right: -3px;
                            bottom: 0;
                            border-bottom: 10px solid #0bb521;
                            border-right: 20px solid transparent;
                        }
                    }
                    .copy-btn{
                        float: left;
                        margin-right: 12px;
                    }
                    .date{
                        float: right;
                    }
                }
                &:hover {
                    .copy-btn{
                        display: block;
                    }
                }
            }
        }
        .message-sender{
            height: 90px;
            padding: 20px 0;
            margin-left: 20px;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            textarea{
                float: left;
                width: -webkit-calc(100% - 50px);
                width: calc(100% - 50px);
                height: 100%;
                resize: none;
                border: 1px solid #ddd;
                border-right: none;
                padding: 0 5px;
                line-height: 24px;
                font-size: 12px;
            }
            .send-message{
                float: left;
                width: 50px;
                height: 100%;
                border: 1px solid #ddd;
                border-left: none;
                background: url('../../../../assets/img/message/send.svg') center no-repeat;
                &::before{
                    content: '';
                    width: 1px;
                    height: 30px;
                    float: left;
                    margin: 10px 0;
                    background: #ddd;
                }

                @include when(active){
                    cursor: pointer;
                    &:hover {
                        background-image: url('../../../../assets/img/message/send-hover.svg');
                    }
                    &:active{
                        background-image: url('../../../../assets/img/message/send-active.svg');
                    }
                }
            }
        }
    }

    @include e(container-pictures) {
        width: 100%;
        height: 100%;
        .virtual-scroll-viewport{
            height: 100%;
        }
    }

    @include e(container-contact) {
        height: 100%;

        @include e(container-header) {
            height: 30px;
            border-bottom: 1px solid #ccc;
            color: #666;
            font-size: 12px;
            padding-left: 10px;
            .checkbox{
                min-width: 28px;
                vertical-align: top;
                cursor: pointer;
                height: 100%;
                display: inline-block;
                background: url('../../../../assets/img/common/input/checkbox.svg');
                background-position: -2px center;
                background-repeat: no-repeat;
                @include when(checked) {
                    background-image: url('../../../../assets/img/common/input/checkbox-checked.svg');
                }
            }
            span{
                line-height: 30px;
            }
        }
        @include e(contact-list) {
            width: 33.33333%;
            height: calc(100% - 36px);
            float: left;
            position: relative;
            border-right: 1px solid #ccc;
            overflow: hidden;
            .container{
                height: 100%;
                overflow-y: scroll;
            }
            .contact-letters{
                position: absolute;
                top: 5px;
                right: 15px;
                bottom: 5px;
                width: 20px;
                >div{
                    height: 3.7037%;
                    cursor: pointer;
                    color: #aaa;
                    position: relative;
                    &:hover{
                        color: black;
                        background: #eee;
                    }
                    >div{
                        text-align: center;
                        width: 100%;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        top: 50%;
                        font-size: 12px;
                        transform: translate(0,-50%);
                    }
                }
            }
        }

        @include e(contact-detail) {
            width: 66.6666%;
            height: calc(100% - 36px);
            float: left;
            position: relative;
            overflow-y: hidden;
        }
    }

    @include e(container-musics) {
        position: relative;
        height: 100%;
        @include e(music-player) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 75px;
            margin: 10px 0;
        }
        .artist, .album{
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    @include e(container-apps) {
        padding-top: 10px;
    }
}
