<div class="airmore-device-item-list" #itemListContainer [class.is-uploading]="deviceService.isUploading" (scroll)="onScroll($event)">
  <div class="airmore-device-item-list__container" *ngIf="!deviceService.loading">

    <!-- pictures start -->
    <div class="airmore-device-item-list__container-pictures" *ngIf="deviceService.activeFunction === 'pictures'" >
      <div class="container">
          <app-device-item-group *ngFor="let group of deviceService.itemGroupList" [containerScrollTop]="containerScrollTop" [containerHeight]="containerHeight" [group]="group"></app-device-item-group>
      </div>
      <!-- cdk-virtual-scroll end -->
    </div>
    <!-- pictures end -->

    <!-- videos start -->
    <div class="airmore-device-item-list__container-videos" *ngIf="deviceService.activeFunction === 'videos'" >
      <app-device-item *ngFor="let item of deviceService.itemList" [item]="item"></app-device-item>
    </div>
    <!-- videos end -->

    <!-- apps start -->
    <div class="airmore-device-item-list__container-apps" *ngIf="deviceService.activeFunction === 'apps' && !deviceService.loadingItems">
      <app-device-item *ngFor="let item of deviceService.itemList" [item]="item"></app-device-item>
    </div>
    <!-- apps end -->

    <!-- documents start -->
    <div class="airmore-device-item-list__container-docs" *ngIf="deviceService.activeFunction === 'documents'">
        <nz-table
        *ngIf="deviceService.itemList && deviceService.activeFunction === 'documents'"
        #virtualTable
        #rowSelectionTable
        nzVirtualScroll
        [nzVirtualItemSize]="50"
        [nzData]="listOfDisplayData"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ y: scrollHeight + 'px' }"
      >
        <thead
        (nzSortChange)="sort($event)"
        >
          <tr>
            <th
              nzShowCheckbox
              nzWidth="40px"
              [(nzChecked)]="isAllDisplayDataChecked"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzShowSort
              nzSortKey="ShowName"
            >Name</th>
            <th
              nzWidth="150px"
            >Type</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="Size"
            >Size</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="ModifyTime"
            >Modify time</th>
          </tr>
        </thead>
        <tbody>
          <ng-template nz-virtual-scroll let-data let-index="index">
            <tr>
              <td
                style="width: 40px;"
                nzShowCheckbox
                [nzChecked]="deviceService.hasItem(data)"
                (nzCheckedChange)="onTdCheckedChange($event, data)"
              ></td>
              <td class="airmore-device-item-list__td">
                <span class="file-icon" (click)="selectItem(data)" [ngClass]="data.album"></span>
                <span class="name" (click)="selectItem(data)">{{ data.ShowName }}</span>
                <div class="airmore-device-item-list__td-operations">
                  <span class="export" (click)="export(data)"></span>
                  <span class="delete" (click)="delete(data)"></span>
                </div>
              </td>
              <td style="width: 150px;">{{ data.Path | fileType }}</td>
              <td style="width: 150px;">{{ data.Size | size }}</td>
              <td style="width: 150px;">{{ data.ModifyTime * 1000 | time }}</td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table> 
    </div>
    <!-- documents end-->

    <!-- musics start -->
    <div class="airmore-device-item-list__container-musics" *ngIf="!deviceService.loading && deviceService.activeFunction === 'musics'">
      <nz-table
        *ngIf="deviceService.itemList && deviceService.activeFunction === 'musics'"
        #virtualTable
        #rowSelectionTable
        nzVirtualScroll
        [nzVirtualItemSize]="50"
        [nzData]="listOfDisplayData"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ y: scrollHeight + 'px' }"
      >
        <thead
        (nzSortChange)="sort($event)"
        >
          <tr>
            <th
              nzShowCheckbox
              nzWidth="40px"
              [(nzChecked)]="isAllDisplayDataChecked"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzShowSort
              nzSortKey="ShowName"
            >Name</th>
            <th
              nzWidth="250px"
              nzShowSort
              nzSortKey="Artist"
            >Artist</th>
            <th
              nzWidth="250px"
              nzShowSort
              nzSortKey="Album"
            >Album</th>
            <th
              nzWidth="100px"
              nzShowSort
              nzSortKey="Duration"
            >Duration</th>
            <th
              nzWidth="100px"
              nzShowSort
              nzSortKey="Size"
            >Size</th>
          </tr>
        </thead>
        <tbody>
          <ng-template nz-virtual-scroll let-data let-index="index">
            <tr>
              <td
                style="width: 40px;"
                nzShowCheckbox
                [nzChecked]="deviceService.hasItem(data)"
                (nzCheckedChange)="onTdCheckedChange($event, data)"
              ></td>
              <td class="airmore-device-item-list__td">
                <span class="name">{{ data.ShowName }}</span>
                <div class="airmore-device-item-list__td-operations">
                    <span class="play" (click)="playMusic(data)"></span>
                    <span class="export" (click)="export(data)"></span>
                    <span class="delete" (click)="delete(data)"></span>
                </div>
              </td>
              <td style="width: 250px;">{{ data.Artist | cutOff }}</td>
              <td style="width: 250px;">{{ data.Album | cutOff }}</td>
              <td style="width: 100px;">{{ data.Duration / 1000 | duration }}</td>
              <td style="width: 100px;">{{ data.Size | size }}</td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table> 
      <app-music-player #musicPlayer [playList]="deviceService.itemList" class="airmore-device-item-list__music-player"></app-music-player>
    </div>
    <!-- musics end -->

    <!-- clipboard start -->
    <div class="airmore-device-item-list__container-clipboard" *ngIf="deviceService.activeFunction === 'clipboard'">
      <div class="toolbar">
        <span class="cancel" (click)="cancelClipboardEdit()" *ngIf="isClipboardEditing">Cancel</span>
        <span class="primary" (click)="saveToClipboard()" *ngIf="isClipboardEditing" [class.active]="deviceService.clipboardValue">Save to clipboard</span>
      </div>
      <textarea (keydown)="onKeyDown($event)" *ngIf="isClipboardEditing" #clipboardInput [(ngModel)]="deviceService.clipboardValue" placeholder="{{clipboardTextareaPlaceholder}}" [readonly]="!isClipboardEditing"></textarea>
      <p *ngIf="!isClipboardEditing && deviceService.activeItem && deviceService.activeItem['Content']">{{deviceService.activeItem['Content']}}</p>
    </div>
    <!-- clipboard end -->

    <!-- messages start -->
    <div class="airmore-device-item-list__container-message" *ngIf="deviceService.activeFunction === 'messages' && !deviceService.isAddingMessage">
      <div class="toolbar">
        <span class="to">To: {{deviceService.activeItem.ShowName}}
          <span *ngIf="deviceService.activeItem.Phone && deviceService.activeItem.Phone !== deviceService.activeItem.ShowName">({{deviceService.activeItem.Phone}})</span>
        </span>
        <span class="btn" (click)="call()">拨打电话</span>
        <span class="btn" (click)="checkContact()" *ngIf="deviceService.isNumberInContact()">查看联系人</span>
        <span class="btn" (click)="addToContact()" *ngIf="!deviceService.isNumberInContact()">添加为联系人</span>
      </div>
      <div class="content" #messageContent>
        <div class="message" *ngFor="let item of deviceService.itemList" [class.is-received]="item.MsgType === 1" [class.is-from-me]="item.MsgType === 2">
          <div class="date">{{item.Date}}</div>
          <div class="copy-btn" (click)="copyToClipboard(item, $event)">复制</div>
          <div class="text">{{item.Content}}</div>
        </div>
      </div>
      <div class="message-sender">
        <textarea (keydown)="onMessageContentKeyDown($event)" placeholder="{{messageTextareaPlaceholder}}" [(ngModel)]="messageValue"></textarea>
        <div class="send-message" (click)="sendMessage()" [class.is-active]="messageValue"></div>
      </div>
    </div>
    <div class="airmore-device-item-list__container-message" *ngIf="deviceService.activeFunction === 'messages' && deviceService.isAddingMessage">
        <div class="toolbar">
          <span class="to">
            <span class="label">To:</span>
            <span class="contact" *ngFor="let contact of deviceService.selectedMessageReceivers">
              {{contact['Name']['DisplayName']}}
              <i (click)="removeFormReceivers(contact)">─</i>
            </span>
            <input type="text" autofocus (keyup)="onContactKey($event)" maxlength="50" />
          </span>
          <span #addContactBtn class="add-contact" [class.is-loading]="!deviceService.contactGroupList" (click)="showContactSelector($event)"></span>
        </div>
        <div class="message-sender">
          <textarea (keydown)="onMessageContentKeyDown($event)" placeholder="{{messageTextareaPlaceholder}}" [(ngModel)]="messageValue"></textarea>
          <div class="send-message" (click)="sendMessage()" [class.is-active]="messageValue"></div>
        </div>
      </div>
    <!-- messages end -->

    <!-- files start -->
    <div class="airmore-device-item-list__container-files" *ngIf="deviceService.activeFunction === 'files'">
      <nz-table
        *ngIf="deviceService.itemList && deviceService.activeFunction === 'files'"
        #virtualTable
        #rowSelectionTable
        nzVirtualScroll
        [nzVirtualItemSize]="50"
        [nzData]="listOfDisplayData"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ y: scrollHeight + 'px' }"
        
      >
        <thead
          (nzSortChange)="sort($event)"
        >
          <tr>
            <th
              nzShowCheckbox
              nzWidth="40px"
              [(nzChecked)]="isAllDisplayDataChecked"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzShowSort
              nzSortKey="ShowName"
            >Name</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="FileType"
            >FileType</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="Size"
            >Size</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="ModifyTime"
            >ModifyTime</th>
          </tr>
        </thead>
        <tbody>
          <ng-template nz-virtual-scroll let-data let-index="index">
            <tr>
              <td
                style="width: 40px;"
                nzShowCheckbox
                [nzChecked]="deviceService.hasItem(data)"
                (nzCheckedChange)="onTdCheckedChange($event, data)"
              ></td>
              <td class="airmore-device-item-list__td" (dblclick)="openItem(data)">
                <span class="icon" (click)="selectItem(data)" [class.is-file]="data.FileType === 1" [class.is-folder]="data.FileType === 2"></span>
                <span (click)="selectItem(data)">{{ data.ShowName }}</span>
                <div class="airmore-device-item-list__td-operations">
                  <span class="export" (click)="export(data)"></span>
                  <span class="delete" (click)="delete(data)"></span>
                </div>
              </td>
              <td style="width: 150px;">{{ data.FileType | isFolder }}</td>
              <td style="width: 150px;">{{ data.Size | size }}</td>
              <td style="width: 150px;">{{ data.ModifyTime | time }}</td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
    <!-- files end -->

    <!-- contacts start -->
    <div class="airmore-device-item-list__container-contact" *ngIf="deviceService.activeFunction === 'contacts' && !deviceService.loading">
      <div class="airmore-device-item-list__container-header">
        <div class="checkbox" [class.is-checked]="isAllSelected" (click)="selectAllContacts()"></div>
        <span>名称 {{deviceService.selectedItems.length}} / {{contactsCount}}</span>
      </div>
      <div class="airmore-device-item-list__contact-list" *ngIf="deviceService.contactLetterGroupList">
        <div class="container" #contactGroupContainer>
          <div
            class="group-item"
            *ngFor="let item of deviceService.contactLetterGroupList"
          >
              <app-contact-letter-group
              [ngClass]="'letter-' + item['key']"
              *ngIf="item['contacts'].length > 0"
              [item]="item"
            ></app-contact-letter-group>
          </div>
        </div>
       
        <div class="contact-letters">
          <div *ngFor="let letter of allLetters" (click)="scrollToLetter(letter)"><div>{{letter}}</div></div>
        </div>
      </div>
      <div class="airmore-device-item-list__contact-detail">
        <app-contact-detail #contactDetail *ngIf="deviceService.activeContact" [contact]="deviceService.activeContact"></app-contact-detail>
      </div>
    </div>
    <!-- contacts end -->
  </div>
  <!-- <div class="airmore-device-item-list__no-item" *ngIf="!deviceService.loading && (!deviceService.itemList || deviceService.itemList.length === 0)">
      <p>The folder is empty!</p>
  </div> -->
</div>