<div class="airmore-device-item-list" #itemListContainer>
  <div class="airmore-device-item-list__container" *ngIf="!deviceStateService.loading">
    <app-device-item-group *ngIf="deviceStateService.activeFunction === 'pictures'"></app-device-item-group>
    
    <div class="airmore-device-item-list__container-pictures" *ngIf="deviceStateService.activeFunction === 'pictures'" >
        <app-device-item-group *ngFor="let item of deviceStateService.itemGroupList"></app-device-item-group>
    </div>

    <div class="airmore-device-item-list__container-apps" *ngIf="deviceStateService.activeFunction === 'apps'">
      <app-device-item *ngFor="let item of deviceStateService.itemList" [item]="item"></app-device-item>
    </div>

    <div class="airmore-device-item-list__container-docs" *ngIf="deviceStateService.activeFunction === 'documents'">
    </div>
    <div class="airmore-device-item-list__container-musics" *ngIf="!deviceStateService.loading && deviceStateService.activeFunction === 'musics'">
        <nz-table
        *ngIf="deviceStateService.itemList && deviceStateService.activeFunction === 'musics'"
        #rowSelectionTable
        #headerTable
        [nzShowPagination]=false
        [nzPageSize]="50"
        [nzScroll]="{ y: scrollHeight + 'px' }"
        [nzData]="listOfDisplayData"
        (nzCurrentPageDataChange)="currentPageDataChange($event)"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th
              nzShowCheckbox
              nzWidth="60px"
              [(nzChecked)]="isAllDisplayDataChecked"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzWidth="350px"
              nzShowSort
              nzSortKey="ShowName"
            >Name</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="Artist"
            >Artist</th>
            <th
              nzWidth="150px"
              nzShowSort
              nzSortKey="Album"
            >Album</th>
            <th
              nzShowSort
              nzSortKey="Duration"
            >Duration</th>
            <th
              nzShowSort
              nzSortKey="Size"
            >Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of deviceStateService.itemList" (dblclick)="play(item)">
            <td
              nzShowCheckbox
              [nzChecked]="deviceStateService.hasItem(item)"
              (nzCheckedChange)="onTdCheckedChange($event, item)"
            ></td>
            <td class="airmore-cloud-item-list__td">
              {{ item.ShowName }}
            </td>
            <td>{{ item.Artist || '-' }}</td>
            <td>{{ item.Album || '-' }}</td>
            <td>{{ item.Duration | duration }}</td>
            <td>{{ item.Size | size }}</td>
          </tr>
        </tbody>
      </nz-table>
      <app-music-player></app-music-player>
    </div>

    <div class="airmore-device-item-list__container-clipboard" *ngIf="deviceStateService.activeFunction === 'clipboard'">
      <div class="airmore-device-item-list__clipboard-list">
        <div class="airmore-device-item-list__clipboard-item" *ngFor="let item of deviceStateService.itemList">
          <div class="checkBox"></div>
          <div class="container">
            <p class="date"></p>
            <p class="content"></p>
          </div>
          <div class="copy-button"></div>
        </div>
      </div>
      <div class="airmore-device-item-list__clipboard-info">
        <p class="content"></p>
      </div>
    </div>
  </div>
  <div class="airmore-device-item-list__no-item" *ngIf="!deviceStateService.loading && (!deviceStateService.itemList || deviceStateService.itemList.length === 0)">
      <p>The folder is empty!</p>
  </div>
</div>