@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(device-item-list) {
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}