<div class="airmore-reset-password-form">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <!-- email input -->
    <div class="airmore-reset-password-form__item" [ngClass]="{'is-error': email.invalid && (email.dirty || email.touched)}">
      <input [(ngModel)]="resetPasswordInfo.email" type="text" placeholder="Email" maxlength="50" formControlName="email" required />
      <span [@errorFadeIn]="email.invalid && (email.dirty || email.touched) ? 'show' : 'hide'" class="airmore-reset-password-form__item-error">
        <span *ngIf="email.errors && email.errors.required">{{ errorMessages.email.required }}</span>
        <span *ngIf="email.errors && email.errors.email">{{ errorMessages.email.email }}</span>
      </span>
    </div>
    <div class="airmore-reset-password-form__item" [ngClass]="{'is-error': captcha.invalid && (captcha.dirty || captcha.touched)}">
      <input [(ngModel)]="resetPasswordInfo.captcha" type="text" placeholder="Verification code" maxlength="10" formControlName="captcha" required />
      <span [@errorFadeIn]="captcha.invalid && (captcha.dirty || captcha.touched) ? 'show' : 'hide'"  class="airmore-reset-password-form__item-error">
        <span *ngIf="captcha.errors && captcha.errors.required">{{ errorMessages.captcha.required }}</span>
        <span *ngIf="captcha.errors && captcha.errors.minLength">{{ errorMessages.captcha.minLength }}</span>
      </span>
      <span class="airmore-reset-password-form__send-btn" *ngIf="!count" (click)="getCaptcha()">Send</span>
      <span class="airmore-reset-password-form__count" *ngIf="count">{{count}}</span>
    </div>
    <div class="airmore-reset-password-form__item" [ngClass]="{'is-error': password.invalid && (password.dirty || password.touched)}">
      <input [(ngModel)]="resetPasswordInfo.password" type="password" placeholder="Password" maxlength="20" minlength="6" formControlName="password" required />
      <span [@errorFadeIn]="password.invalid && (password.dirty || password.touched) ? 'show' : 'hide'"  class="airmore-reset-password-form__item-error">
        <span *ngIf="password.errors && password.errors.required">{{ errorMessages.password.required }}</span>
        <span *ngIf="password.errors && password.errors.minLength">{{ errorMessages.password.minLength }}</span>
      </span>
    </div>
    <div class="airmore-reset-password-form__item">
      <button class="airmore-reset-password-form__submit-btn" type="submit" [disabled]="!resetPasswordForm.valid"><span *ngIf="loading" class="loading"></span>Confirm</button>
    </div>
    <div class="airmore-reset-password-form__item airmore-reset-password-form__links">
      <span (click)="appService.accountRoute='passwordLogin'">Password Login</span>
    </div>
  </form>
</div>