<div class="airmore-common-modal">
  <div class="airmore-common-modal__header">
    <h4 class="airmore-common-modal__title" *ngIf="showTitle">{{title}}</h4>
    <span class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </span>
  </div>
  <div class="airmore-common-modal__body" [ngClass]="'is-' + type">
    <p>{{content}}</p>
  </div>
  <div class="airmore-common-modal__footer">
    <span class="btn close-btn" (click)="activeModal.close('Close click')">Close</span>
  </div>
</div>