@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(desktop) {
    font-size: $font-size-base;
    background: url('../../../../assets/img/desktop/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    @include e(header){
        height: 50px;
        z-index: relative;
    }

    @include e(logo) {
        width: 200px;
        height: 30px;
        margin: 10px 0 0 25px;
        line-height: 36px;
        font-size: 20px;
        color: #fff;
        text-align: left;
        padding-left: 55px;
        background: url('../../../../assets/img/logo.svg') left center/auto 28px no-repeat;
        float: left;
    }

    @include e(desktop) {
        padding: 0 10px;
        column-gap: 10px;
        column-width: 74px;
        column-fill: auto;
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc(100% - 60px);
        padding: 0 10px;


        @include e(function-icon) {
            width: 74px;
            height: 88px;
            line-height: 24px;
            text-align: center;
            font-size: 12px;
            color: #fff;
            page-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            -ms-break-inside: avoid;
            break-inside: avoid;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover{
                background-color: rgba(0, 0, 0, .15);
            }
            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                @for $i from 0 to length($funs) {
                    $fun: nth($funs, $i + 1);
                    $color1: nth($colorsStart, $i + 1);
                    $color2: nth($colorsEnd, $i + 1);
        
                    &.#{$fun}{
                        background: url('../../../../assets/img/fun/white/#{$fun}-white.svg') center center no-repeat, linear-gradient($color1, $color2);
                        background-color: $color1;
                    }
                }
                &.reflector{
                    background: url('../../../../assets/img/reflector/reflector.svg') center center no-repeat, linear-gradient(#1a68c2, #2398d7);
                    background-color: #1a68c2;
                    background-position: center 60%;
                }
            }
        }
    }
}