@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(cloud-navigator) {
    width: 100%;
    font-size: $font-size-base;
    height: 40px;
    line-height: 40px;
    border-bottom: $border-base;
    color: $gray-600;
    position: relative;

    @include e(back) {
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 100%;
        border-right: $border-base;
        background: url('../../../../assets/img/action/gray/back-gray.svg') center no-repeat;
        float: left;
        &:hover{
            background-image: url('../../../../assets/img/action/blue/back-blue.svg');
        }
    }

    @include e(breadcrumb) {
        position: absolute;
        left: 40px;
        top: 0;
        span{
            cursor: pointer;
            display: inline-block;
        }
    }

    @include e(image-category) {
        width: calc(100% - 30px);
        display: flex;
        justify-content: center;
        span{
            display: inline-block;
            width: 130px;
            text-align: center;
            cursor: pointer;
            &.active{
                border-bottom: 1px solid $primary;
                color: $primary;
            }
        }
    }
}