@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(image-viewer) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $index-top;
    background: rgba(31, 31, 31, 0.99);
    color: $white;

    @include e(body) {
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 136px;
        left: 0;
    }

    @include e(close) {
        position: absolute;
        top: 10px;
        right: 10px;
        transition: opacity .1s ease;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: .5;
        background: url('../../../../assets/img/common/viewer/close.svg');
    }

    @include e(prev) {
        margin: auto 0;
        width: 72px;
        height: 72px;
        cursor: pointer;
        border-radius: 50%;
        background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg');
        transition: opacity .1s ease;
        opacity: .5;
        position: absolute;
        top: 0;
        bottom: 68px;
        left: 25px;
        transform: rotate(180deg);
        &:hover{
            opacity: 1;
            background-color: rgba(170, 170, 170, .3);
        }
    }

    @include e(next) {
        margin: auto 0;
        width: 72px;
        height: 72px;
        cursor: pointer;
        border-radius: 50%;
        background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg');
        transition: opacity .1s ease;
        opacity: .5;
        position: absolute;
        top: 0;
        right: 25px;
        bottom: 68px;

        &:hover{
            opacity: 1;
            background-color: rgba(170, 170, 170, .3);
        }

    }

    @include e(thumbbar) {
        position: absolute;
        right: 0;
        bottom: 68px;
        left: 0;
        transition: bottom .2s ease, opacity .5s ease;
        height: 68px;
        font-size: 0;
        white-space: nowrap;
        background: rgba(31, 31, 31, .8);
        text-align: center;
    }

    @include e(toolbar) {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .5s ease;
        margin: 0 auto;
        height: 68px;
        padding: 9px 0;
        font-size: 0;
        background: rgba(31, 31, 31, .8);
    }
}
