@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(image-viewer) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $index-top;
    background: rgba(31, 31, 31, 0.99);
    color: $white;

    @include e(body) {
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 136px;
        left: 0;

        @include e(body-img-wrapper) {
            z-index: 9999;
            position: relative;
        }
    }

    @include e(close) {
        position: absolute;
        top: 10px;
        right: 10px;
        transition: opacity .1s ease;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: .5;
        background: url('../../../../assets/img/common/viewer/close.svg') center no-repeat;
        background-size: contain;
        z-index: 9999;
        &:hover {
            background-color: rgba(170, 170, 170, .3);
            opacity: 1;
        }

    }

    @include e(prev) {
        margin: auto 0;
        width: 72px;
        height: 72px;
        cursor: pointer;
        border-radius: 50%;
        background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg') 50% no-repeat;
        background-size: 40%;
        transition: opacity .1s ease;
        opacity: .5;
        position: absolute;
        top: 0;
        bottom: 68px;
        left: 25px;
        transform: rotate(180deg);
        z-index: 9999;
        &:hover{
            opacity: 1;
            background-color: rgba(170, 170, 170, .3);
        }
    }

    @include e(next) {
        margin: auto 0;
        width: 72px;
        height: 72px;
        cursor: pointer;
        border-radius: 50%;
        background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg') 50% no-repeat;
        background-size: 40%;
        transition: opacity .1s ease;
        opacity: .5;
        position: absolute;
        top: 0;
        right: 25px;
        bottom: 68px;
        z-index: 9999;
        &:hover{
            opacity: 1;
            background-color: rgba(170, 170, 170, .3);
        }

    }

    @include e(thumbbar) {
        position: absolute;
        right: 0;
        bottom: 68px;
        left: 0;
        transition: bottom .2s ease, opacity .5s ease;
        height: 68px;
        font-size: 0;
        white-space: nowrap;
        background: rgba(31, 31, 31, .8);
        text-align: center;
        z-index: 9999;

        @include e(thumbbar-prev) {
            display: inline-block;
            vertical-align: top;
            width: 40px;
            height: 60px;
            margin-top: 4px;
            margin-bottom: 4px;
            cursor: pointer;
            background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg') center no-repeat;
            transform: rotate(180deg);
            opacity: 0.5;
            transition: opacity .1s ease;
        }

        @include e(thumbbar-next) {
            display: inline-block;
            vertical-align: top;
            width: 40px;
            height: 60px;
            margin-top: 4px;
            margin-bottom: 4px;
            cursor: pointer;
            background: rgba(255, 255, 255, .1) url('../../../../assets/img/common/viewer/next.svg') center no-repeat;
            opacity: 0.5;
            transition: opacity .1s ease;
        }
        
        @include e(thumbbar-body) {
            display: inline-block;
            height: 100%;
            position: relative;
            overflow: hidden;
        }

        @include e(thumbbar-body-wrapper) {
            position: relative;
            transition: left .1s ease;
            li{
                float: left;
                cursor: pointer;
                background-position: top center;
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .5;
                transition: opacity .3s ease;
                &.active{
                    border-bottom: 2px solid #fff;
                    opacity: 1;
                }

            }
        }

    }
    

    @include e(toolbar) {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .5s ease;
        margin: 0 auto;
        height: 68px;
        padding: 9px 0;
        font-size: 0;
        background: rgba(31, 31, 31, .8);
    }
}
