<section class="airmore-layout-desktop">
  <div class="airmore-layout-desktop__header">
    <div class="airmore-layout-desktop__logo">
      Airmore
    </div>
    <div class="airmore-layout-desktop__toolbar">
      <div
      class="icon account"
      nz-tooltip
      nzTitle="账户"
      nzOverlayClassName="airmore-tooltip"
      nzPlacement="bottom"
      >
      </div>
      <div
      class="icon notify"
      nz-tooltip
      nzTitle="打开通知"
      nzOverlayClassName="airmore-tooltip"
      nzPlacement="bottom"
      ></div>
      <div
      class="icon help"
      nz-tooltip
      nzTitle="帮助"
      nzOverlayClassName="airmore-tooltip"
      nzPlacement="bottom"
      ></div>
      <div
        class="icon logout"
        nz-tooltip
        nzTitle="断开连接"
        nzOverlayClassName="airmore-tooltip"
        nzPlacement="bottom"
    ></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>