<div class="airmore-device-layout">
  <app-device-sidebar></app-device-sidebar>
  <div
    class="airmore-device-layout__content"
    [class.is-clipboard]="appService.activeFunction === 'clipboard'"
    [class.is-messages]="appService.activeFunction === 'messages'"
    [class.is-files]="appService.activeFunction === 'files'"
    [class.is-contacts]="appService.activeFunction === 'contacts'"
  >
    <app-uploading-progress *ngIf="deviceService.isUploading"></app-uploading-progress>
    <router-outlet></router-outlet>
  </div>
</div>