@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(cloud-item-list) {
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    @include e(no-item) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        p{
            font-size: $font-size-base;
            padding-top: 160px;
            background: url('../../../../assets/img/cloud/no-file.svg') top center no-repeat;
            text-align: center;
        }
    }

    @include e(td) {
        position: relative;
        @include e(preview-btn) {
            display: none;
            width: 36px;
            height: 36px;
            background: url('../../../../assets/img/action/gray/preview-gray.svg') center no-repeat;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -18px;
            cursor: pointer;
        }
        &:hover {
            @include e(preview-btn) {
                display: inline-block;
            }
        }
    }

    @include e(pagination) {
        height: 50px;
        display: flex;
        align-items: center;
    }
}

