<div class="airmore-cloud-item" (click)="checkItem()" (dblclick)="openResource()">
  <div class="airmore-cloud-item__container">
    <div class="airmore-cloud-item__top" >
      <div
        *ngIf="item"
        class="airmore-cloud-item__image"
        [class.defaultFolder]="type === 'folder' && !item.cover_thumb_url"
        [class.audio]="type === 'audio' && !item.audio_cover_thumb_url && !item.audio_cover_url"
        [class.video]="type === 'video' && !item.video_cover_thumb_url && !item.video_cover_url"
        [class.application]="type === 'application'"
        [class.document]="type === 'document'"
        [class.lab]="type === 'lab'"
        [class.place]="type === 'place'"
        [class.people]="type === 'people'"
        
      >
        <app-lazy-load-image [imgSrc]="item.cover_thumb_url || item.image_url" *ngIf="type === 'folder' && item.cover_thumb_url"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.image_thumb_url || item.image_url" *ngIf="type === 'image'"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.audio_cover_thumb_url || item.audio_cover_url" *ngIf="type === 'audio' && item.audio_cover_thumb_url || item.audio_cover_url"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.video_cover_thumb_url || item.video_cover_url" *ngIf="type === 'video' && item.video_cover_thumb_url || item.video_cover_url"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.cover_thumb_url || item.cover_url" *ngIf="type === 'lab' && (item.cover_thumb_url || item.cover_url)"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.cover_thumb_url || item.cover_url" *ngIf="type === 'place' && (item.cover_thumb_url || item.cover_url)"></app-lazy-load-image>
        <app-lazy-load-image [imgSrc]="item.image_url" *ngIf="type === 'people' && item.image_url"></app-lazy-load-image>
      </div>
      <ul class="airmore-cloud-item__toolbar">
        <li class="preview" [class.active]="supportOperation('preview')" (click)="preview(item)"></li>
        <li class="download" [class.active]="supportOperation('download')" (click)="download(item)"></li>
        <li class="delete" [class.active]="supportOperation('delete')" (click)="delete(item)"></li>
      </ul>
      <div class="airmore-cloud-item__check" [class.selected]="isSelected">
      </div>
    </div>
    <div class="airmore-cloud-item__title">
      {{ shortName }}
    </div>
  </div>
</div>
