@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(device-item){

    @include when(video) {
        width: 168px;
        height: 168px;
        position: relative;
        background-size: contain;
        float: left;
        margin: 0 4px 4px 0;
        cursor: pointer;

        @include e(container) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;


            @include e(play-btn) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 40px;
                height: 40px;
                background-image: url('../../../../assets/img/video/play.svg');
                background-size: 100% auto;

                &:hover {
                    background-image: url('../../../../assets/img/video/play-hover.svg');
                }
            }
            @include e(image) {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

            }

            @include e(toolbar) {
                width: 100%;
                height: 36px;
                position: absolute;
                bottom: -18px;
                opacity: 0;
                left: 0;
                display: flex;
                justify-content: center;
                background: rgba($color: #000000, $alpha: .6);
                transition: $fade-transition;
                li{
                    list-style: none;
                    flex: 0.3333;
                    opacity: 0.6;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.play {background-image: url('../../../../assets/img/action/white/play-white.svg');}
                    &.download {background-image: url('../../../../assets/img/action/white/download-white.svg');}
                    &.delete {background-image: url('../../../../assets/img/action/white/delete-white.svg');}
                    &.active:hover{
                        opacity: 1;
                    }
                }
            }

            @include e(check) {
                width: 24px;
                height: 24px;
                opacity: 0.8;
                position: absolute;
                right: 7px;
                top: 7px;
                background: url('../../../../assets/img/input/checkbox-bigger.svg');
                display: none;

                &.selected {
                    display: block;
                    background-image: url('../../../../assets/img/input/checkbox-bigger-checked.svg');
                }
            }

            &:hover {
                @include e(check) {
                    display: block;
                }
        
                @include e(toolbar) {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }
    }

    @include when(app) {
        width: 210px;
        height: 110px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 26px;
        background-color: #eee;
        background-position: 17px center;
        background-size: 72px auto;
        float: left;
        position: relative;

        @include e(container) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            &:hover {
                @include e(toolbar) {
                    display: block;
                }

                @include e(check) {
                    display: block;
                }
            }
        }

        @include e(icon) {
            float: left;
            height: 72px;
            width: 72px;
            margin: 20px 10px 20px 20px;
            background-color: #eee;
            .airmore-lazy-load-image{
                background-color: #eee!important;
            }
        }

        @include e(name) {
            margin-top: 30px;
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        @include e(size) {
            font-size: 14px;
        }

        @include e(check) {
            width: 24px;
            height: 24px;
            display: block;
            opacity: .8;
            position: absolute;
            background-position: center;
            margin-right: 0;
            right: 7px;
            top: 7px;
            background: url('../../../../assets/img/input/checkbox-bigger.svg');
            display: none;
            
            &.selected {
                display: block;
                background-image: url('../../../../assets/img/input/checkbox-bigger-checked.svg');
            }
        }

        @include e(toolbar) {
            display: none;
            list-style: none;
            height: 36px;
            width: 100%;
            position: absolute;
            bottom: 0;
            >li{
                width: 50%;
                height: 100%;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: black;
                opacity: .6;
                float: left;
                &:hover {
                    opacity: 1;
                }
                &.backup {
                    background-image: url('../../../../assets/img/action/white/backup-white.svg');
                }
                &.delete {
                    background-image: url('../../../../assets/img/action/white//delete-white.svg');
                }
            }
        }
        
    }
}