<div class="airmore-device-item"
  [class.is-app]="deviceStateService.activeFunction === 'apps'"
  [class.is-video]="deviceStateService.activeFunction === 'videos'"
  [class.is-picture]="deviceStateService.activeFunction === 'pictures'"
  (click)="checkItem()"
  (dblclick)="openResource()">
  <!-- apps start -->
  <div class="airmore-device-item__container" *ngIf="deviceStateService.activeFunction === 'apps' && item">
    <app-lazy-load-image class="airmore-device-item__icon" [imgSrc]="getAppIcon(item.PackageName)" *ngIf="item.PackageName"></app-lazy-load-image>
    <p class="airmore-device-item__name">{{item.ShowName}}</p>
    <p class="airmore-device-item__size">{{item.Size}}</p>
    <ul class="airmore-device-item__toolbar">
      <li class="backup" [class.active]="supportOperation('backup')" (click)="backup($event)"></li>
      <li class="delete" [class.active]="supportOperation('delete')" (click)="delete($event)"></li>
    </ul>
    <div class="airmore-device-item__check" [class.selected]="isSelected">
    </div>
  </div>
  <!-- apps end -->
  <!-- videos start -->
  <div class="airmore-device-item__container" *ngIf="deviceStateService.activeFunction === 'videos'">
    <div
      *ngIf="item"
      class="airmore-device-item__image"
    >
      <app-lazy-load-image [imgSrc]="resolveVideoCoverPath(item.Path)" *ngIf="item.Path"></app-lazy-load-image>
    </div>
    <ul class="airmore-device-item__toolbar">
      <li class="play" (click)="playVideo($event)"></li>
      <li class="download" (click)="download($event)"></li>
      <li class="delete" (click)="delete($event)"></li>
    </ul>
    <div class="airmore-device-item__check" [class.selected]="isSelected">
    </div>
    <div class="airmore-device-item__play-btn" (click)="playVideo($event)"></div>
  </div>
  <!-- videos end -->
  <!-- pictures start -->
  <div class="airmore-device-item__container" *ngIf="deviceStateService.activeFunction === 'pictures'">
      <div
        *ngIf="item"
        class="airmore-device-item__image"
      >
        <app-lazy-load-image [imgSrc]="resolveVideoCoverPath(item.Path)" *ngIf="item.Path"></app-lazy-load-image>
      </div>
      <ul class="airmore-device-item__toolbar">
        <li class="play" (click)="playImage($event)"></li>
        <li class="download" (click)="download($event)"></li>
        <li class="delete" (click)="delete($event)"></li>
      </ul>
      <div class="airmore-device-item__check" [class.selected]="isSelected">
      </div>
  </div>
  <!-- pictures end -->
</div>