<div class="airmore-installation-modal">
  <div class="left">
    <p class="label">方式1:</p>
    <p class="method">扫码二维码下载</p>
    <div class="qrcode"></div>
  </div>
  <div class="right">
    <p class="label">方式2:</p>
    <p class="method">下载爱莫助手安装包</p>
    <p class="btn android">
      <a href="http://download.airmore.cn/airmore.apk" target="_blank" >安卓</a>
    </p>
    <p class="btn ios">
      <a href="https://itunes.apple.com/us/app/airmore/id997212086?ls=1&mt=8" target="_blank">iPhone</a>
    </p>
  </div>
</div>