<div class="airmore-subheader">
  <div class="airmore-subheader__info">
    <span>{{cloudStateService.getSelectedItems().length}} selected</span>
  </div>
  <div class="airmore-subheader__toolbar">
      <div class="airmore-subheader__toolbar-btn" [ngClass]=item.class *ngFor="let item of toolbarItems">
        <div class="airmore-subheader__toolbar-icon">{{item.text}}</div>
      </div>
  </div>
  <div class="airmore-subheader__search">
    <input type="text" placeholder="Search" maxlength="20" />
    <div class="airmore-subheader__search-submit"></div>
    <div class="airmore-subheader__search-clear"></div>
  </div>
</div>