<div class="airmore-subheader">
  <div class="airmore-subheader__info">
    <span>{{selectedCount}} selected</span>
  </div>
  <div class="airmore-subheader__toolbar">
      <div 
        class="airmore-subheader__toolbar-btn"
        [class.is-hidden]="!hasAction(item.action)"
        [class.is-inactive]="isInactive(item.action)"
        [class.is-loading]="appStateService.loading"
        [class.is-checked]="item.action === 'select-all' && appStateService.isAllSelected && !appStateService.loading && !appStateService.isEmpty"
        [ngClass]=item.class
        *ngFor="let item of toolbarItems"
        (click)="doAction(item.action, isInactive(item.action), $event)"
      >
        <i class="airmore-subheader__toolbar-loading" *ngIf="item.action === 'refresh'"></i>
        <div class="airmore-subheader__toolbar-icon toolbar-icon">{{item.text}}</div>
      </div>
  </div>
  <div class="airmore-subheader__search">
    <input type="text" placeholder="Search" maxlength="20" />
    <div class="airmore-subheader__search-submit"></div>
    <div class="airmore-subheader__search-clear"></div>
  </div>
</div>