@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

$actions: select, upload, upload-folder, download, refresh, delete, add, wallpaper, install, backup, play, pause, preview, add-folder, add-contact, add-message, add-clipboard, rename, copy, import, import-contact;
@include b(subheader) {
    height: $subheader-height;
    border-bottom: $border-base;
    position: absolute;
    left: $main-content-position-left;
    right: $main-content-position-right;
    top: $header-height;
    display: flex;

    @include e(info) {
        width: $subheader-info-width;
        height: 100%;
        font-size: $font-size-base;
        padding-top: 22px;
    }

    @include e(toolbar) {
        padding: 6px 0 0 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex: 1;

        @include e(toolbar-btn) {
            min-width: 75px;
            color: $gray-800;
            cursor: pointer;
            font-size: 10px;
            border-radius: 3px;
            padding: 23px 10px 0;
            height: 50px;
            white-space: nowrap;
            text-align: center;
            background-position: center 3px;
            background-repeat: no-repeat;
            position: relative;

            @include when(hidden) {
                display: none;
            }

            @each $action in $actions{
                &.#{$action}{
                    background-image: url('../../../../assets/img/action/gray/#{$action}-gray.svg');
        
                    &:hover, &.active{
                        background-color: $primary;
                        color: $white;
                        background-image: url('../../../../assets/img/action/white/#{$action}-white.svg');
                    }
                }

                &.select {
                    background-image: url('../../../../assets/img/common/input/checkbox.svg');

                    @include when(checked) {
                        background-image: url('../../../../assets/img/common/input/checkbox-checked.svg');
                    }
                }
                &.refresh{
                    background-image: none!important;
                    @include e(toolbar-loading) {
                        position: absolute;
                        background-image: url('../../../../assets/img/action/gray/refresh-gray.svg');
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        top: 3px;
                        left: 50%;
                        margin-left: -12px;
                        transition: rotate 0.4s ease-in-out;
                        animation: rotate 1.5s linear infinite;
                        animation-play-state: paused;
                    }
                    @include when(loading) {
                        background-image: none;
                        @include e(toolbar-loading) {
                            display: inline-block;
                            animation-play-state: running;
                        }

                    }

                    &:hover {
                        @include e(toolbar-loading) {
                            background-image: url('../../..//../assets/img/action//white/refresh-white.svg');
                        }
                    }
                }

                &.import{
                    .toolbar-icon{
                        padding-right: 15px;
                        background: url('../../../../assets/img/common/drop/arrow.svg') right center no-repeat;
                        &:hover{
                            background-image: url('../../../../assets/img/common/drop/arrow-white.svg');
                        }
                    }
                }

                @include when(inactive) {
                    &.#{$action}{
                        background-image: url('../../../../assets/img/action/gray/#{$action}-gray.svg');
                        color: $gray-800;
                        background-color: transparent;
                        opacity: 0.4;
                    }
                }
            }

            
            @include e(toolbar-icon) {
                line-height: 27px;
            }
        } 
    }

    @include e(search) {
        width: 180px;
        margin-left: 60px;
        height: 100%;
        padding-left: 16px;
        padding-top: 14px;
        position: relative;
        input{
            width: 100%;
            height: 32px;
            border-radius: 16px;
            border: $border-base;
            padding: 0 24px 0 30px;
        }

        @include e(search-submit) {
            position: absolute;
            cursor: pointer;
            left: 18px;
            top: 16px;
            width: 30px;
            height: 32px;
            border: none;
            background: transparent url('../../../../assets/img/action/gray/search-gray.svg') center no-repeat;
        }

        @include e(search-clear) {
            position: absolute;
            cursor: pointer;
            top: 14px;
            right: 10px;
            width: 24px;
            height: 32px;
            border: none;
            background: url('../../../../assets/img/action/gray/quit-gray.svg') center no-repeat;
            background-size: 16px auto;
            &:hover {
                background-image: url('../../../../assets/img/action/blue/quit-blue.svg');
            }
        }
    }
}

@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}