@import "reset.scss";
@import "overwrite.scss";

html{
    width: 100%;
    height: 100%
}
body {
    font-family: 'GothamRoundedBook', helvetica;
    color: #333;
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.airmore-tooltip{
    .ant-tooltip-inner{
        background-color: white;
        color: black;
        font-size: 12px;
    }
    .ant-tooltip-arrow{
        border-bottom-color: white!important;
    }
}