@import "variables.scss";

.ant-table-wrapper {
    color: red;
}
.ant-table-tbody>tr>td, .ant-table-thead>tr>th {
    height: 37px;
    line-height: 37px;
    padding: 0 10px!important;
    font-size: 12px;
}

.ant-table-placeholder {
    display: none;
}
.ant-btn{
    border-radius: 15px!important;
    &:hover, &:focus {
        color: $primary!important;
        border-color: $primary!important;
    }
}