<div class="airmore-email-password-less-login-form">
  <form [formGroup]="emailPasswordLessLoginForm" (ngSubmit)="onSubmit()">
    <!-- email input -->
    <div class="airmore-email-password-less-login-form__item" [ngClass]="{'is-error': email.invalid && (email.dirty || email.touched)}">
      <input [(ngModel)]="emailPasswordLessLoginInfo.email" type="text" placeholder="Email" maxlength="50" formControlName="email" required />
      <span [@errorFadeIn]="email.invalid && (email.dirty || email.touched) ? 'show' : 'hide'" class="airmore-email-password-less-login-form__item-error">
        <span *ngIf="email.errors && email.errors.required">{{ errorMessages.email.required }}</span>
        <span *ngIf="email.errors && email.errors.email">{{ errorMessages.email.email }}</span>
      </span>
    </div>
    <div class="airmore-email-password-less-login-form__item" [ngClass]="{'is-error': captcha.invalid && (captcha.dirty || captcha.touched)}">
      <input [(ngModel)]="emailPasswordLessLoginInfo.captcha" type="text" placeholder="Verification code" maxlength="10" formControlName="captcha" required />
      <span [@errorFadeIn]="captcha.invalid && (captcha.dirty || captcha.touched) ? 'show' : 'hide'"  class="airmore-email-password-less-login-form__item-error">
        <span *ngIf="captcha.errors && captcha.errors.required">{{ errorMessages.captcha.required }}</span>
        <span *ngIf="captcha.errors && captcha.errors.minLength">{{ errorMessages.captcha.minLength }}</span>
      </span>
      <span class="airmore-email-password-less-login-form__send-btn" *ngIf="!count" (click)="getCaptcha()">Send</span>
      <span class="airmore-email-password-less-login-form__count" *ngIf="count">{{count}}</span>
    </div>
    <div class="airmore-email-password-less-login-form__item">
      <button class="airmore-email-password-less-login-form__submit-btn" type="submit" [disabled]="!emailPasswordLessLoginForm.valid"><span *ngIf="loading" class="loading"></span>Login</button>
    </div>
    <div class="airmore-email-password-less-login-form__item airmore-email-password-less-login-form__links">
      <span (click)="appStateService.accountRoute='passwordLogin'">Password Login</span>
    </div>
  </form>
</div>