<div class="airmore-music-player">
  <div class="airmore-music-player__next"></div>
  <div class="airmore-music-player__play"></div>
  <div class="airmore-music-player__mode"></div>
  <div class="airmore-music-player__cover"></div>
  <div class="airmore-music-player__name"></div>
  <div class="airmore-music-player__time"></div>
  <div class="airmore-music-player__slider"></div>
  <div class="airmore-music-player__duration"></div>
  <div class="airmore-music-player__volume"></div>
  <div class="airmore-music-player__volume-slider"></div>
</div>