@import "../../../../styles/mixins/bem.scss";
@import "../../../../styles/themes/default/variables.scss";

@include b(account) {
    width: 100%;
    height: 100%;
    position: relative;
    .logined{
        p.tip{
            margin: 40px auto 60px;
            width: 60%;
        }
        p.btn{
            text-align: center;
            width: 320px;
            height: 40px;
            color: $primary;
            font-size: 16px;
            line-height: 40px;
            border-radius: 20px;
            border: 1px solid $primary;
            margin: 20px auto;
            cursor: pointer;
            &.primary{
                background-color: $primary;
                color: white;
            }
        }
    }
    @include e(links) {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: right;
        font-size: 14px;
        p{
            span{
                cursor: pointer;
                color: $primary;
            }
        }
    }
}