<div class="airmore-account" [ngSwitch]="appStateService.accountRoute">
  <app-password-login-form *ngSwitchCase="'passwordLogin'"></app-password-login-form>
  <app-reset-password-form *ngSwitchCase="'resetPassword'"></app-reset-password-form>
  <app-email-password-less-login-form *ngSwitchCase="'emailPasswordLess'"></app-email-password-less-login-form>
  <app-phone-password-less-login-form *ngSwitchCase="'phonePasswordLess'"></app-phone-password-less-login-form>
  <app-register-form *ngSwitchCase="'register'"></app-register-form>
  <div class="airmore-account__links" *ngSwitchCase="'passwordLogin'">
    <p>No account? <span (click)="appStateService.accountRoute='register'">Register now</span></p>
  </div>
</div>
